<configuration>
    <logger name="phd.streammodels.Article02StreamModelsJob" level="INFO"/>
    <logger name="phd.streammodels.stream.KafkaSourceFactory" level="INFO"/>
    <logger name="phd.streammodels.stream.WatermarkStrategyFactory" level="DEBUG"/>
    <logger name="phd.streammodels.stream.StreamTopology" level="INFO"/>
</configuration>
